.report-box {
    cursor: pointer !important;
    width: 100%;
    /* height: 100px; */
    font-size: 14px;
    font-weight: 350;
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-left: 15px;
    text-align: center;
    background-color: transparent;
    border: 0px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.13) !important;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.report {
    /* border-color: #ffc72a; */
    border-color: #00BCD4;
    overflow: hidden;
    color: #768790;
    background-color: #fff;
}

.report:hover {
    /* background-color:#ffc72a; */
    background-color: #00BCD4;
    border-color: #fff;
    color: #fff;
}

.report:hover i{
    color: #fff;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.5em;
    padding: 10px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.report-box-ribbon {
    cursor: pointer !important;
    width: 100%;
    height: 55px;
    font-size: 14px;
    font-weight: 350;
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-left: 15px;
    text-align: center;
    background-color: #ffffff;
    border: 0px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.13) !important;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.ribbon-warning {
    /* background: #ffc72a; */
    background: #00BCD4;
    width: 75%;
}
.ribbon {
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    clear: left;
    position: absolute;
    top: 12px;
    left: -2px;
    color: #fff;
}

/* .report-box-ribbon:hover {
    background: #ffc72a;
} */


.report-box-ribbon:hover .ribbon{
    /* background: #ffc72a; */
    background-color: #00BCD4;
    color: #fff;
    /* color: #535353; */
    font-weight: 450;
    width: 100%;
}