.nav-tab-wrapper {
    background: #fff;
    height: 90px;
}

.nav-tab-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.nav-tab-wrapper ul li {
    display: inline-block;
    cursor: pointer
}

.nav-tab-wrapper ul li a {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-right: 1px solid #ccc
}

.nav-tab-wrapper ul li {
    color: #999;
    padding: 0;
    transition: .3s ease-in-out
}

.nav-tab-wrapper ul li:hover {
    border-bottom: 3px solid #00bcd4
}

.nav-tab-wrapper ul li:last-child a {
    border-right: none
}

.nav-tab-wrapper ul li.active {
    /* font-weight: 500; */
    border-bottom: 3px solid #00bcd4;
    color: #6c7987;
    filter: none;
}

.nav-tabs {
    border-bottom: 0px solid #ddd;
}

.img-responsive {
    width: 7.5%;
    height: auto;
    display: inline-block;
}

.nav-tab-wrapper ul li img {
    display: inline-block;
    margin-right: 15px;
    filter: brightness(0) invert(.85);
    position: relative;
    top: -1px;
    height: 30px;
}

.card-box {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.tab-content .tab-wrapper {
    background: #fff;
    padding: 15px 25px;
    margin-bottom: 15px;
    color: #6c7987;
}

.tab-wrapper .tab-header {
    margin-bottom: 20px;
    padding: 0;
}

.tab-wrapper .tab-title {
    font-size: 20px;
}

.tab-wrapper .tab-body {
    padding: 0;
}

.tab-wrapper .tab-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-wrapper .tab-body ul li {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.tab-wrapper .tab-body ul li label {
    padding-left: 0;
    margin: 0;
    font-weight: 500;
}

.card-adakasir {
    cursor: pointer !important;
    border: 0px !important;
    border-radius: 4px  !important;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.13) !important;
}

.card-adakasir.active {
    cursor: pointer !important;
    border: 0px !important;
    border-radius: 4px  !important;
    background: #00bcd4;
    color: #ffffff;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.13) !important;
}

.card-adakasir.active h5 {
    color: #ffffff;
}

.filter-wrapper {
    margin: 13px 0;
    background-color: #f4f6fb;
    padding: 10px 0;
}

span.icon-btn-more {
    background: url(../assets/images/icon/ic-btn-more.svg);
    position: relative;
    width: 47px;
    height: 30px;
    top: 2px;
    background-repeat: no-repeat;
    display: inline-block;
}

span.icon-btn-more:hover {
    background: url(../assets/images/icon/ic-btn-more-hover.svg);
    position: relative;
    width: 47px;
    height: 30px;
    top: 2px;
    background-repeat: no-repeat;
    display: inline-block
}

span.icon-edit {
    background: url(../assets/images/icon/ic-edit.svg);
    position: relative;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    display: inline-block;
    top: 5px;
    margin-right: 15px;
}

span.icon-delete {
    background: url(../assets/images/icon/ic-delete.svg);
    position: relative;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    display: inline-block;
    top: 5px;
    margin-right: 15px;
}

.input-karyawan {
    margin-bottom: 10px;
    vertical-align: middle;
    font-size: 0;
    white-space: nowrap;
    width: 100px;
}

.filter-advance {
    background-image: linear-gradient(273deg,#00bcd4,#5d64c0);
    border-radius: 2px;
    padding: 15px 5px;
    color: #fff;
    margin-bottom: 13px;
}

.filter-advance .title {
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: rgba(255,255,255,.7);
}

.filter-advance .subtitle {
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.form-group label {
    font-size: 13px
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none
}

.select2-dropdown {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 2011
}

.imagePreview {
    width: 150px;
    height: 135px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

.modal-center .modal-body .filter-rectangle {
    border-top: none
}

.modal-center .modal-dialog {
    margin: 0;
    max-height: 75%;
    height: 100%
}

.modal-center .modal-dialog {
    margin: 8% auto;
    position: relative
}

.dropdown-menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
.dropdown-menu a {
   overflow: hidden;
   outline: none;
}
 
.bss-input
{
   border:1px solid #c5c5c5;
   margin:-3px;
   padding:3px;
   outline: none;
   color: #000;
   width: 99%;
}
 
.bss-input:hover
{
   background-color: #f5f5f5;
}
 
.additem .check-mark
{
   opacity: 0;
   z-index: -1000;
}
 
.addNewCategori {
   position: relative;
   padding: 2px;
   margin: 15px;
   /* padding-right: 50px;
   margin-right: -50px;
   color: #aaa; */
}
 
.addNewCategori:hover {
   color: #222;
}

.input-tags {
    width: 100%;
    padding: 15px;
    display: block;
    margin: 0 auto;
}

.label-info {
    background-color: #5bc0de;
    padding: 3px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #8dc4dd;
    color: #fff;
    /* padding: 5px 10px; */
    position: relative;
    line-height: 25px;
}

.bootstrap-tagsinput {
    display: table-cell;
    width: 500px;
    height: 39px;
}


td.details-control {
    background: url('../assets/images/product/plus.png') no-repeat center center;
    background-size: 10px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../assets/images/product/minus.svg') no-repeat center center;
}

table.dataTable tbody tr {
    background-color: #ffffff;
    height: 50px;
}