@charset "UTF-8";
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    opacity: 0;
    line-break: auto
}

.tooltip.in {
    opacity: .9
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    line-break: auto
}

.popover.top {
    margin-top: -10px
}

.popover.right {
    margin-left: 10px
}

.popover.bottom {
    margin-top: 10px
}

.popover.left {
    margin-left: -10px
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0
}

.popover-content {
    padding: 9px 14px
}

.popover>.arrow,
.popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.popover>.arrow {
    border-width: 11px
}

.popover>.arrow:after {
    content: "";
    border-width: 10px
}

.popover.top>.arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-width: 0
}

.popover.top>.arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0
}

.popover.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0
}

.popover.right>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0
}

.popover.bottom>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25)
}

.popover.bottom>.arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff
}

.popover.left>.arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25)
}

.popover.left>.arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff
}

.carousel {
    position: relative
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    line-height: 1
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px
    }
    .carousel-inner>.item.active.right,
    .carousel-inner>.item.next {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    .carousel-inner>.item.active.left,
    .carousel-inner>.item.prev {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    .carousel-inner>.item.active,
    .carousel-inner>.item.next.left,
    .carousel-inner>.item.prev.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block
}

.carousel-inner>.active {
    left: 0
}

.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner>.next {
    left: 100%
}

.carousel-inner>.prev {
    left: -100%
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    left: 0
}

.carousel-inner>.active.left {
    left: -100%
}

.carousel-inner>.active.right {
    left: 100%
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    opacity: .5
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-repeat: repeat-x
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-repeat: repeat-x
}

.carousel-control:focus,
.carousel-control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 50%;
    margin-right: -10px
}

.carousel-control .icon-next,
.carousel-control .icon-prev {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1
}

.carousel-control .icon-prev:before {
    content: '\2039'
}

.carousel-control .icon-next:before {
    content: '\203a'
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carousel-caption .btn {
    text-shadow: none
}

@media screen and (min-width:768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -10px
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -10px
    }
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px
    }
    .carousel-indicators {
        bottom: 20px
    }
}

.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before {
    display: table;
    content: " "
}

.modal-footer:after,
.modal-header:after {
    clear: both
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

@-webkit-keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce
}

@-webkit-keyframes flash {
    0%,
    100%,
    50% {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}

@keyframes flash {
    0%,
    100%,
    50% {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    30% {
        -webkit-transform: scaleX(1.25) scaleY(.75);
        transform: scaleX(1.25) scaleY(.75)
    }
    40% {
        -webkit-transform: scaleX(.75) scaleY(1.25);
        transform: scaleX(.75) scaleY(1.25)
    }
    60% {
        -webkit-transform: scaleX(1.15) scaleY(.85);
        transform: scaleX(1.15) scaleY(.85)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.modal {
    z-index: 2003
}

.modal-backdrop {
    background-color: #3c424d;
    z-index: 2002;
    opacity: .93
}

.modal-dialog {
    width: 60%;
    height: 100%;
    position: fixed;
    right: 0;
    margin: 0
}

.modal-header {
    background-color: #fdfdfd;
    box-shadow: 0 -1px 0 0 #e5e5e5 inset;
    border-bottom: 0
}

.modal-title {
    font-size: 13px
}

.modal-subtitle {
    font-size: 13px;
    color: #a0a0a0
}

.modal-body .btn-download {
    text-align: right;
    margin: 15px 0
}

.modal-content,
.modal-detail .modal-content,
.modal-edit .modal-content,
.modal-input .modal-content {
    min-height: 100%;
    border-radius: 0
}

.ic-remove {
    position: relative;
    top: 9px;
    font-size: 16px;
    color: #d52627
}

.modal-scroll-panel {
    position: absolute;
    height: 81.3%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%
}

.modal-scroll-panel-full {
    position: absolute;
    height: 92.5%;
    overflow: auto;
    width: 100%
}

.modal-delete .modal-content {
    min-height: auto;
    border-radius: 0
}

.modal-delete .modal-dialog {
    position: relative;
    margin: 50% auto;
    height: 250px
}

.modal-delete .modal-body {
    height: auto;
    position: relative;
    padding: 15px 15px 0 15px;
    line-height: 1.93;
    background: #fcfdff
}

.modal-verification-email .modal-dialog {
    position: relative;
    margin: 50% auto;
    height: 250px
}

.modal-verification-email .modal-content {
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16)
}

.modal-verification-email p {
    font-size: 17px
}

.modal-verification-email h2.text-email {
    letter-spacing: 1.8px;
    text-transform: none;
    margin-bottom: 40px;
    width: 99%;
    word-wrap: break-word
}

#modal-impor .modal-dialog {
    position: relative;
    margin: 30px auto
}

#modal-impor .modal-content {
    border-radius: 5px;
    position: absolute
}

#modal-impor .title-impor-modal {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #333;
    text-transform: none
}

#modal-impor .link-download-modal {
    color: #00bcd4
}

#modal-impor .box-alert {
    background-color: #f0f6fa;
    font-size: 13px;
    color: #748790;
    padding: 10px;
    border: solid 1px #d1dbe0;
    margin: 10px 0
}

#modal-impor .box-alert span {
    color: #d0011b
}

#modal-impor label.control-label {
    color: #333
}

#modal-impor .icon-alert {
    font-size: 35px
}

.modal-footer {
    padding: 15px 15px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #fff;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer.absolute-footer {
    position: absolute;
    bottom: 0;
    z-index: 9
}

.modal-detail .modal-header .close {
    margin-top: 0;
    position: absolute;
    right: 15px
}

.modal-scroll-panel-full::-webkit-scrollbar,
.modal-scroll-panel::-webkit-scrollbar,
.modal::-webkit-scrollbar {
    width: 8px
}

.modal-scroll-panel-full::-webkit-scrollbar-track,
.modal-scroll-panel::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ccc;
    opacity: .7
}

.modal-scroll-panel-full::-webkit-scrollbar-thumb,
.modal-scroll-panel::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c1c1c1
}

.modal-scroll-panel-full::-webkit-scrollbar-thumb:window-inactive,
.modal-scroll-panel::-webkit-scrollbar-thumb:window-inactive,
.modal::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, .4)
}

.modal-body {
    width: 100%;
    position: relative;
    padding: 15px
}

.modal-body.s-p {
    padding: 0 15px
}

.modal-detail .modal-body p {
    font-size: 14px;
    color: #1d2129
}

.modal-detail .modal-body label {
    font-size: 13px;
    color: #999;
    font-weight: 100;
    display: block
}

.modal .action-button {
    text-align: right;
    padding: 0
}


.form-modal input.form-control {
    border-radius: 0;
    height: 40px;
    padding: 6px 12px
}

.form-modal textarea.form-control {
    height: 86px;
    padding: 10px 12px
}

.form-modal input.i-r {
    float: right;
    text-align: right
}

.filter-wrapper-modal {
    width: 100%;
    height: 66px;
    padding: 15px 0;
    margin-top: 15px;
    background-color: #fdfdfd;
    box-shadow: inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5
}

.filter-wrapper-modal .label {
    color: #999;
    font-size: 13px;
    font-weight: 100;
    position: relative;
    top: 7px;
    text-align: left
}

.filter-wrapper-modal .label-filter {
    text-transform: uppercase;
    position: relative;
    top: 7px;
    color: #999;
    font-weight: 100
}

.modal-loading-container .loader-svg {
    left: 45% !important
}

.modal-loading-container.full-width .loader-svg {
    left: 48% !important
}

.modal-body .form-body {
    border-right: solid 1px #e7ecec;
    border-left: solid 1px #e7ecec;
    border-bottom: solid 1px #e7ecec;
    margin-bottom: 20px;
    padding: 15px 20px
}

.modal-body .label-form {
    background-color: #fdfdfd;
    border: solid 1px #e7ecec;
    padding: 10px 15px
}

.modal-body .label-form h5 {
    display: inline-block;
    margin-right: 10px
}

.modal-footer .total-footer {
    padding: 5px 10px;
    color: #999;
    font-size: 18px
}

.modal-footer .total-footer b {
    color: #333;
    font-weight: 900
}

.modal-body .form-body-renewal {
    border: solid 1px #e7ecec;
    margin-bottom: 20px;
    padding: 15px 20px;
    margin-top: 25px
}

.modal .action-button .link-blue {
    position: relative;
    top: 8px
}

.modal-impor-produk .modal-dialog {
    margin: 8% auto;
    height: 400px;
    position: relative
}

.modal-impor-center .modal-dialog {
    margin: 8% auto;
    height: 400px;
    position: relative
}

.modal-boarding-tooltip .modal-dialog {
    height: 150px;
    position: absolute;
    right: 10%;
    top: 45%;
    margin: 0
}

.modal-export-product .modal-dialog {
    margin: 8% auto;
    height: 250px;
    position: relative
}

.modal-center .modal-dialog {
    margin: 8% auto;
    position: relative
}

.tbody-modal .switcher {
    top: 0;
    position: relative
}

.form-modal.reset-form {
    background-color: #f6f6f6;
    padding: 15px 30px
}

.modal-body .block-alert {
    padding: 0 30px 30px 30px
}

.modal-body .block-alert span.icon-warning-red {
    margin-bottom: 10px
}

.modal-body .block-error {
    border-radius: 3px;
    background-color: #faf0f0;
    border: solid 1px #ffc7c7;
    padding: 10px;
    margin-bottom: 30px
}

.modal-body .block-error span.icon {
    width: 35px;
    height: 35px;
    top: 11px
}

.modal-body .block-error p {
    margin: 0
}

.modal-variant .modal-body .filter-rectangle {
    border-top: none
}

.modal-variant .modal-dialog {
    max-height: 75%;
    height: 100%
}

@media all and (max-width:991px) {
    .modal-verification-email .modal-dialog {
        margin-top: 35% !important;
        height: 200px
    }
    .modal-verification-email .modal-content {
        padding: 10px
    }
    #modal-impor-product .modal-dialog .modal-content .modal-scroll-panel {
        height: 57.3%
    }
    .tbody-modal .selectpicker-n-s {
        padding: 0;
        padding-right: 15px;
        padding-left: 15px
    }
    .modal-center .modal-dialog {
        margin: 0
    }
    .modal .action-button.btn-billing {
        float: right;
        text-align: right
    }
    .modal-scroll-panel {
        height: 75.3%
    }
    .modal-detail .modal-scroll-panel {
        height: 73.3%
    }
    .modal-dialog {
        width: 100% !important;
        height: 100%;
        position: fixed;
        right: 0;
        margin: 0
    }
    .modal .action-button {
        text-align: right
    }
    .filter-wrapper-modal .label-filter {
        margin-bottom: 25px
    }
    .filter-wrapper-modal .label {
        top: 0;
        padding: 0;
        margin: 12px;
        display: block
    }
    .modal-subtitle {
        font-size: 9px
    }
    .modal-body {
        padding: 15px
    }
    .modal-scroll-panel .modal-body {
        margin-bottom: 35px
    }
    .modal-body .btn-download {
        text-align: right
    }
    .filter-widget {
        padding: 0 15px
    }
    .filter-wrapper-modal {
        height: auto
    }
}

@media (max-width:320px) {
    .select-button {
        width: 248px
    }
    .select-button label span {
        min-width: 248px
    }
}